.cssFirmas_iframe{font-size:80px;}
.asty_base_firmas{height: 200px; width: 500px; margin: 0 auto; background-color: #fff;}
.asty_base_firmas h3,.asty_base_firmas h4,.asty_base_firmas p{font-family:'Megrim'}
