.cssFirmas_iframe{font-size:80px;}
.asty_base_firmas{height: 200px; width: 500px; margin: 0 auto; background-color: #fff; position:relative;}
.asty_f1 h3,.asty_base_firmas h4,.asty_base_firmas p{font-family:'Megrim';}

.mar_kf{height: 250px; width: 500px;background-position: 0% 50%;overflow:hidden; position:relative; transition: all ease 4s; background-size: 90%;background-repeat: no-repeat;margin: 0 auto;}
.mar_kf:hover{background-position: -350% 50%;background-size: 100%;}

.mar_kf *,.mar_kf{transition: all ease 1s;rgba(0,0,0,0);}
.mar_kf:hover,.kyu_mf:hover{rgba(0,0,0,1);}

.kyu_mf{right:-80%; background-position: 50% 0%; height: 250px; width:500px; position: absolute; background-size: 110%; background-image: url(https://i.imgur.com/EyYttOD.jpg)}
.mar_kf:hover .kyu_mf{background-position: 120% 0%; right:0;background-size: 120%;}
