
.dvaF br{display:none;}
.dvaF{background-image:url(https://66.media.tumblr.com/e825d18a7b47784c06688e0de3a7b87b/tumblr_pdw3pkyLvy1ug2uiho3_500.gifv);
width:500px;height:200px;background-size:cover;background-position:center;margin:0 auto;
position:relative;text-align:center;}
.dvaF div{background:rgba(0,0,0,.8);
width:100px;border-right:1px solid;}
.dvaT{position:absolute;bottom:12px;right:12px;padding:12px;}
.dvaF h4{border-bottom:1px solid;position:absolute;padding:12px;
font-size:3em;font-weight:100;color:#fff;text-shadow:1px 0#f00,-1px 0 #00f;font-family:Great Vibes;
z-index:9;top:22px;width:150px;text-indent:64px;}.dvaF a{position:absolute;top:100px;left:12px;padding:12px 40px;
border-right:2px solid;color:#ccc;transition:all ease .2s;}.dvaF a:hover{border-width:8px;color:#eee;}
