.mash_default{background-image:url(https://i.imgur.com/h9md3Vf.png);}
.mash_default_hablar1{background-image:url(https://i.imgur.com/dBMMIId.png);}
.mash_default_hablar2{background-image:url(https://i.imgur.com/dBMMIId.png);}

.mash_feliz{background-image:url(https://i.imgur.com/D70Sl1T.png);}
.mash_muy_feliz{background-image:url(https://i.imgur.com/zOBiOEf.png);}

.mash_sorprendida{background-image:url(https://i.imgur.com/87XZaHa.png);}
.mash_sorpresa_sonrojo{background-image:url(https://i.imgur.com/h77D5Lo.png);}

.mash_sonrisa{background-image:url(https://i.imgur.com/3S3e9TS.png);}
.mash_sonrisa_sonrojo{background-image:url(https://i.imgur.com/h77D5Lo.png);}

.mash_incomoda_sonrojo{background-image:url(https://i.imgur.com/2v7qxoj.png);}
.mash_incomoda_mal{background-image:url(https://i.imgur.com/ipOom23.png);}

.mash_tomate_cerrado{background-image:url(https://i.imgur.com/scxpdjT.png);}
.mash_tomate{background-image:url(https://i.imgur.com/tdQigix.png);}
.mash_tomate_sorpresa{background-image:url(https://i.imgur.com/TwSPxuF.png);}
.mash_tomate_incomoda{background-image:url(https://i.imgur.com/XpoRrzx.png);}
.mash_tomate_super_incomoda{background-image:url(https://i.imgur.com/2el4S5E.png);}

.mash_equivocada{background-image:url(https://i.imgur.com/2QybpnI.png);}

.mash_preocupada{background-image:url(https://i.imgur.com/G5ky9pb.png);}

.mash_tristona{background-image:url(https://i.imgur.com/00jimvd.png);}

.mash_timida{background-image:url(https://i.imgur.com/mn7wJT7.png);}
.mash_timida_cerrada{background-image:url(https://i.imgur.com/wTSl2lj.png);}

.mash_esfuerzo{background-image:url(https://i.imgur.com/vA9ysC1.png);}

.mash_mal{background-image:url(https://i.imgur.com/Bhqpcgf.png);}


.mash_ay{background-image:url(https://i.imgur.com/wicGGTc.png);}
